
h1{
    text-align: center;
    font-size: 2em;
}

.container{
  
    display: flex;
    flex-direction: row;
   
  
  
}
#intro{
  margin-left: 17px;
}
#img{
  margin: 4px 900px;
  padding: 6px 40px;
  border-radius: 2px;
}
table, th, td {
  border: 1px solid black;
  padding: 6px 58px;
  margin: 24px;
}
.head{
  
  background-color: rgb(245 245 245);
  margin-left: 10px;
}
.para{
  margin-left: 14px;
}